header {
  background-image: url('imagem-de-fundo-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #0B2746;
            text-align: center;
            max-width: 1000px ;
            margin: 0 auto; 
            padding: 16px; 
  
  height: 250px; /* Define a altura do cabeçalho */
  width: 100%;    /* Garante que ocupe toda a largura */

}

h1{
  color:azure; 
  
}

.É {
color: aliceblue;
 max-width: 20PX;

}